<div class="card card-container mycontainer">
    <div><h2>Login</h2></div>
    <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmitLogin()" #f="ngForm" validate>        
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="loginUser.userEmail"
              required email #email="ngModel" placeholder="Please enter email address" />
            <div class="alert-danger" *ngIf="f.submitted && email.invalid">
              <div *ngIf="email.errors?.['required']">Email is required</div>
              <div *ngIf="email.errors?.['email']">
                Email must be a valid email address
              </div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="loginUser.userPassword"
              required minlength="6" #password="ngModel" placeholder="Please enter password"/>
            <div class="alert-danger" *ngIf="f.submitted && password.invalid">
              <div *ngIf="password.errors?.['required']">Password is required</div>
              <div *ngIf="password.errors?.['minlength']">
                Password must be at least 6 characters
              </div>
            </div>
        </div>
        <div class="form-group">
            <!-- <button class="btn btn-primary btn-block" (click)="onSubmitRegister()">Sign Up</button> -->
            <input type="submit" class="form-control btn btn-primary btn-block" value="Submit">
        </div>
        <div class="alert alert-danger" *ngIf="f.submitted && isLoginFailed">
            Login failed!<br />{{ errorMessage }}
        </div>
    </form>
    <div class="alert alert-success" *ngIf="isSuccessful">
        Login successful!
    </div>
</div>