.container{
    padding:3em;
    max-width: 500px;
    margin: 0 auto;
}

.mycontainer{
    padding:3em;
    max-width: 500px;
    margin: auto;
}

h2{
    text-align: center;
}
label {
    display: inline-block;
    width: 250px;
    text-align: left;
}
div{
    margin-bottom: 10px;
}